
<header class="header">
    <div class="header-tops">
        <div class="container-fluid">
            <div class="header-right">
                <!-- End of DropDown Menu -->
                <div class="dropdown">
                    <a href="#language"><img src="assets/images/flags/eng.png" alt="ENG Flag" width="14" height="8" class="dropdown-image"> ENG</a>
                    <div class="dropdown-box">
                        <a href="#ENG">
                            <img src="assets/images/flags/eng.png" alt="ENG Flag" width="14" height="8" class="dropdown-image">
                            ENG
                        </a>
                        <a href="#SA">
                            <img src="assets/images/flags/sr.png" alt="SA Flag" width="14" height="8" class="dropdown-image">
                            SA
                        </a>
                    </div>
                </div>
                <!-- End of Dropdown Menu -->
                <span class="divider d-lg-show"></span>
                <a href="my-account.html" class="ml-2">My Account</a>
                <a href="#" class=" login sign-in mr-2 ml-2"><i class="w-icon-account mr-1"></i>Sign In</a>
                <span class="delimiter">/</span>
                <a href="assets/ajax/login.html" class="ml-2  login register">Register</a>
            </div>
        </div>
    </div>
    <!-- End of Header Top -->

    <div class="header-middle">
        <div class="container-fluid">
            <div class="header-left mr-md-4">
                <nav>
                </nav>
                <a href="#" class="mobile-menu-toggle  w-icon-hamburger" aria-label="menu-toggle">
                </a>
                <a href="index.html" class="logo ml-lg-0">
                    <img src="assets/images/main-logo-2x.png" alt="logo" width="144" height="45">
                </a>
                <form method="get" action="#" class="header-search hs-expanded hs-round d-none d-md-flex input-wrapper">
                    <input type="text" class="form-control" name="search" id="search" placeholder="what you'r looking for?" required="">
                        <div class="position-holders-wrapper">
                            <div class="category-img">
                                <img src="assets/images/topbar/catagory-menu.png" width="20" height="20">
                            </div>
                            <div class="select-box">
                                <select id="category" name="category">
                                    <option value="">By Categories</option>
                                    <option value="4">Fashion</option>
                                    <option value="5">Furniture</option>
                                    <option value="6">Shoes</option>
                                    <option value="7">Sports</option>
                                    <option value="8">Games</option>
                                    <option value="9">Computers</option>
                                    <option value="10">Electronics</option>
                                    <option value="11">Kitchen</option>
                                    <option value="12">Clothing</option>
                                </select>
                            </div>
                        </div>
                    <button class="btn btn-search" type="submit">Search
                    </button>
                </form>
            </div>
            <div class="header-right ml-4">
                <a class="link d-xs-show link-style mr-2rem" href="#">
                    العربية
                </a>
                <a class=" link d-xs-show btn-black-main mr-1rem sign-in-btn" href="#">
                    Sign In
                </a>
                <a class="link d-xs-show btn-black-main mr-2-5rem sign-up-btn" href="#">
                    Sign Up
                </a>
                <div class="notificatin-wrapper">
                    <div class="cart-dropdown">
                        <a class="wishlist label-down link d-xs-show" href="#">
                            <div class="notificatin-wrapper-img"> 
                                <img src="assets/images/topbar/notification.svg" width="23" height="26">
                            </div>
                            <span class="cart-count mr-2-5rem">2</span>
                        </a>
                    </div>
                </div>
                <div class="dropdown cart-dropdown cart-offcanvas mr-0">
                    <div class="cart-overlay"></div>
                    <a href="#" class="cart-toggle label-down link">
                        <div>
                                <img src="assets/images/topbar/shopping.svg">
                            </div>
                            <span class="cart-count">2</span>
                    </a>
                    <div class="dropdown-box">
                        <div class="cart-header" style="justify-content: flex-end;">
                            <a href="#" class="btn-close">Close<i class="w-icon-long-arrow-right"></i></a>
                        </div>
                        <div class="card-header-content">
                            <h4>Your Cart</h4>
                            <label>Cart Total <span>164 S.R</span></label>
                        </div>
                        <div class="cart-header-seprator-list">
                            <ul>
                                <li><span></span></li>
                                <li><span></span></li>
                                <li><span></span></li>
                                <li><span></span></li>
                                <li><span></span></li>
                                <li><span></span></li>
                                <li><span></span></li>
                                <li><span></span></li>
                                <li><span></span></li>
                                <li><span></span></li>
                            </ul>
                        </div>

                        <div class="products">
                            <div class="product product-cart">
                                <figure class="product-media">
                                    <a href="#">
                                        <img src="assets/images/mainPage/cart-img-1.png" alt="product" height="100" width="100">
                                    </a>
                                </figure>
                                <div class="product-detail">
                                    <div class="product-content">
                                        <label class="product-main-name">Electronics - Phones</label>
                                        <h6>RealMe 8 Pro Infinite Black</h6>
                                        <p>Riyadh</p>
                                        <div class="product-price-quantity-wrapper">
                                            <div class="product-price-main">
                                                <label>1654 S.R</label>
                                            </div>
                                            <div class="product-quantity-inputs">
                                                <ul>
                                                    <li class="decreaseQty">
                                                        <div class="inputValueMinus">
                                                            <i class="w-icon-minus"></i> 
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="number" class="qtyValue" value="1">
                                                    </li>
                                                    <li class="increaseQty">
                                                        <div class="inputValuePlus">
                                                            <i class="w-icon-plus"></i>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-seperater-main">
                                <span></span>
                            </div>
                            <div class="product product-cart">
                                <figure class="product-media">
                                    <a href="#">
                                        <img src="assets/images/mainPage/cart-img-1.png" alt="product" height="100" width="100">
                                    </a>
                                </figure>
                                <div class="product-detail">
                                    <div class="product-content">
                                        <label class="product-main-name">Electronics - Phones</label>
                                        <h6>RealMe 8 Pro Infinite Black</h6>
                                        <p>Riyadh</p>
                                        <div class="product-price-quantity-wrapper">
                                            <div class="product-price-main">
                                                <label>1654 S.R</label>
                                            </div>
                                            <div class="product-quantity-inputs">
                                                <ul>
                                                    <li class="decreaseQty">
                                                        <div class="inputValueMinus">
                                                            <i class="w-icon-minus"></i> 
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="number" class="qtyValue" value="1">
                                                    </li>
                                                    <li class="increaseQty">
                                                        <div class="inputValuePlus">
                                                            <i class="w-icon-plus"></i>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-seperater-main">
                                <span></span>
                            </div>
                            <div class="product product-cart">
                                <figure class="product-media">
                                    <a href="#">
                                        <img src="assets/images/mainPage/cart-img-1.png" alt="product" height="100" width="100">
                                    </a>
                                </figure>
                                <div class="product-detail">
                                    <div class="product-content">
                                        <label class="product-main-name">Electronics - Phones</label>
                                        <h6>RealMe 8 Pro Infinite Black</h6>
                                        <p>Riyadh</p>
                                        <div class="product-price-quantity-wrapper">
                                            <div class="product-price-main">
                                                <label>1654 S.R</label>
                                            </div>
                                            <div class="product-quantity-inputs">
                                                <ul>
                                                    <li class="decreaseQty">
                                                        <div class="inputValueMinus">
                                                            <i class="w-icon-minus"></i> 
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="number" class="qtyValue" value="1">
                                                    </li>
                                                    <li class="increaseQty">
                                                        <div class="inputValuePlus">
                                                            <i class="w-icon-plus"></i>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-seperater-main">
                                <span></span>
                            </div>
                            <div class="product product-cart">
                                <figure class="product-media">
                                    <a href="#">
                                        <img src="assets/images/mainPage/cart-img-1.png" alt="product" height="100" width="100">
                                    </a>
                                </figure>
                                <div class="product-detail">
                                    <div class="product-content">
                                        <label class="product-main-name">Electronics - Phones</label>
                                        <h6>RealMe 8 Pro Infinite Black</h6>
                                        <p>Riyadh</p>
                                        <div class="product-price-quantity-wrapper">
                                            <div class="product-price-main">
                                                <label>1654 S.R</label>
                                            </div>
                                            <div class="product-quantity-inputs">
                                                <ul>
                                                    <li class="decreaseQty">
                                                        <div class="inputValueMinus">
                                                            <i class="w-icon-minus"></i> 
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="number" class="qtyValue" value="1">
                                                    </li>
                                                    <li class="increaseQty">
                                                        <div class="inputValuePlus">
                                                            <i class="w-icon-plus"></i>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart-action-btn mt-3">
                            <a href="#" class="hover-theme-color-btn">Check Out</a>
                            <a href="#" class="hover-theme-black-btn mt-2">Continue shopping</a>
                        </div>
                    </div>
                    <!-- End of Dropdown Box -->
                </div>

                <a class="wishlist label-down link d-xs-show mr-0 ml-2-5rem" href="#">
                    <div>
                        <img src="assets/images/topbar/star.svg" width="27" height="26.5">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- End of Header Middle -->

    <div class="sticky-content-wrapper"><div class="header-bottom productpage sticky-content fix-top sticky-header border-bottom-theme">
        <div class="container-fluid">
            <div class="inner-wrap">
                <div class="header-left">
                    <div class="dropdown category-dropdown has-border" data-visible="true">
                        <a href="#" class="category-toggle text-dark" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-display="static" title="Browse Categories">
                            <span>Categories</span>
                        </a>

                        <div class="dropdown-box">
                            <ul class="menu vertical-menu category-menu">
                                @for (category of heasderCategories; track category) {
                                <li>
                                    <a [href]="getQueryString(category.id.toString())">{{category.name}}</a>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <nav class="main-nav">
                        <ul class="menu">
                            @for (category of mainCategories; track category) {
                            <li class="">
                                <a [href]="getQueryString(category.id.toString())">{{category.name}}</a>
                            </li>
                        }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div></div>
</header>