<footer class="footer appear-animate fadeIn appear-animation-visible" data-animation-options="{
    'name': 'fadeIn'
}" style="animation-duration: 1.2s;">
    <div class="container">
        <div class="footer-top">
            <div class="row align-items-center">
                <div class="col-lg-4 col-sm-4">
                    <div class="widget widget-about">
                        <a href="demo1.html" class="logo-footer">
                            <img src="assets/images/main-logo-2x.png" alt="logo-footer" width="218" height="70">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <div class="widget mb-0-sm">
                        <ul class="widget-body">
                            <li><a href="#"><span></span>About malqaa</a></li>
                            <li><a href="#"><span></span>Join as a merchant</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <div class="widget mb-0-sm">
                        <ul class="widget-body">
                            <li><a href="#"><span></span>Privacy policy</a></li>
                            <li><a href="#"><span></span>Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <div class="widget mt-2-sm mb-0-sm">
                        <div class="store-redirection-wrappers">
                            <ul>
                                <li><a href="#"><img src="assets/images/mainPage/google-play.png" width="200" height="64"></a></li>
                                <li><a href="#"><img src="assets/images/mainPage/apple-store.png" width="200" height="64"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-left">
                <p class="copyright">All rights reserved <span><a href="#">ONRUF.COM</a></span></p>
            </div>
            <div class="footer-right">
                <ul>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><img src="assets/images/mainPage/instagram.svg"></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><img src="assets/images/mainPage/linkedin.svg"></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><img src="assets/images/mainPage/twitter.svg"></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><img src="assets/images/mainPage/facebook.svg"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>